footer {
	background-color: #c1c1c1;
	padding: 20px;
	text-align: center; 
	font-size:small; 
	clear:both;
}

#menu {
	float: right;
}

#menu a {
	text-decoration: none;
	color: black;
}

.active {
	background-color: yellow;
	text-decoration: underline !important;
	font-weight: bold;
}

.logout {
	background-color: red;
	color: white;
	padding: 5px;
}

.profile {
	width: 200px;
	margin-right: 20px;
	float: left;
}